{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
{% image self.banner_image fill-800x400 as img %}
<div class="jumbotron" style = "background-image: url('{{ img.url }}'); background-size: contain;">
  <h1 class="display-4">{{self.banner_title}}</h1>
  <hr class="my-4">
  <p class="lead"> {{ self.banner_sub_title | richtext }} </p>
  {% if self.banner_cta %}
    <a class="btn btn-primary btn-lg" href="#" role="button">{{self.banner_cta.title}}</a>
    {% endif %}
</div>



    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      {% for loop_cycle in self.carousel_images.all %}
          {% image loop_cycle.carousel_image fill-1920x200 as img %}
        <div class="carousel-item active">
          <img src="{{img.url}}" class="d-block w-100" alt="{{img.alt}}">
        </div>
      {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>












{% endblock %}